  body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f5f5f5;
        }

        /* NAVBAR */
        header {
            background: black;
            padding: 18px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        .logo {
            color: gold;
            font-size: 24px;
            font-weight: bold;
        }

        nav a {
            color: white;
            margin-left: 25px;
            text-decoration: none;
            position: relative;
        }

        nav a::after {
            content: "";
            width: 0;
            height: 2px;
            background: gold;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: 0.3s;
        }

        nav a:hover::after {
            width: 100%;
        }

        /* PRODUCTS */
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            padding: 60px;
        }

        .card {
            background: white;
            border-radius: 15px;
            padding: 15px;
            text-align: center;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }

        .card h3 {
            margin: 15px 0 5px;
            font-size: 18px;
        }

        .card p {
            color: #777;
            font-size: 16px;
        }

        .card button {
            margin-top: 10px;
            padding: 10px 25px;
            border: none;
            background: black;
            color: white;
            border-radius: 20px;
            cursor: pointer;
        }

        .card button:hover {
            background: gold;
            color: black;
        }

        /* FOOTER */
        footer {
            background: black;
            color: white;
            text-align: center;
            padding: 15px;
        }